$column_count: 12;

@media screen and (max-width: 480px) {
  @for $i from 1 through $column_count {
    .col-sm-#{$i} {
      width: percentage($i/$column_count);
    }
    .offset-sm-#{$i} {
      margin-left: percentage($i/$column_count);
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 760px) {
  @for $i from 1 through $column_count {
    .col-md-#{$i} {
      width: percentage($i/$column_count);
    }
    .offset-md-#{$i} {
      margin-left: percentage($i/$column_count);
    }
  }
}

@media screen and (min-width: 761px) {
  @for $i from 1 through $column_count {
    .col-lg-#{$i} {
      width: percentage($i/$column_count);
    }
    .offset-lg-#{$i} {
      margin-left: percentage($i/$column_count);
    }
  }
}

