@import '_grids.scss';

body{
  font-family: sans-serif;
}

.container {
  .card {
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    height: 300px;
    background: #dddddd;
  }

  .next{
    height: 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:focus{
      outline: none;
    }
  }
}
